@font-face {
    font-family: "BrushtipTexe";
    src: url("../fonts/BTTTRIAL.otf");
}

@font-face {
    font-family: "Manuskript Ant D";
    src: url("../fonts/ManuskriptAntD-Reg.otf");
}

@font-face {
    font-family: "Windlass";
    src: url("../fonts/Windlass.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #d5a970;
    border-radius: 10px;
}

/* ===== Responsive ===== */

@media screen and (max-width: 800px) {
    .section-container {
        margin: 50px 100px 50px 100px;
    }

    .about-container, .members-container, .partners-container, .gallery-container, .title-container {
        align-items: center;
        justify-content: center;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
    }

    .member {
        flex-wrap: wrap;
        justify-content: center;
    }

    .reverse-member {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1150px) {
    .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .navbar-right-container {
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) {
    .section-container {
        margin: 50px 100px 50px 100px;
    }
}

/* ===== Logo animation ===== */

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

/* ===== Shining text ===== */

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

/* ===== Navbar ===== */

.navbar {
    align-items: center;
    background-color: #fff;
    border-bottom: 3px solid #000;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.navbar-left-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.navbar-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    height: 100%;
    padding: 20px 50px 20px 40px;
    width: 100px;
}

.nav-title {
    align-items: center;
    display: flex;
    font-family: 'BrushtipTexe';
    font-size: 50px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.navbar-right-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 0px 50px;
}

button {
    height: 100%;
    outline: none;
}

.custom-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'Manuskript Ant D';
    font-size: 18px;
    font-weight: 500;
    padding: 20px 25px;
    position: relative;
    transition: all 0.3s ease;
    width: 225px;
}

.btn {
    background: #fff;
    color: #000;
    z-index: 1;
}

.btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #000;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
}

.btn:hover:after {
    top: 0;
    height: 100%;
}

.btn:active {
    top: 2px;
}

/* ===== Page content ===== */

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff;
}

.text-black {
    color: #000;
}

.text-gold {
    animation: shine 2s linear infinite;
    color: #d5a970;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .75) 30%, #000 50%, rgba(0, 0, 0, .75) 70%);
    -webkit-mask-size: 200%;
}

.text-white {
    color: #fff;
}

.section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-container {
    display: flex;
    padding-bottom: 50px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
}

.members-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
}

.partners-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
}

.h1-black {
    border-bottom: 3px solid #000;
    color: #000;
    font-size: 40px;
    font-family: 'Windlass';
    font-weight: 100;
}

.h1-white {
    border-bottom: 3px solid #fff;
    color: #fff;
    font-size: 40px;
    font-family: 'Windlass';
    font-weight: 100;
}

h2 {
    display: inline-block;
    font-family: 'Windlass';
    font-size: 40px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
}

p {
    font-family: 'Manuskript Ant D';
    font-size: 20px;
    font-weight: 300;
}

.members-list {
    flex-wrap: wrap;
    width: 100%;
}

.member {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.reverse-member {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 50px;
    text-align: end;
}

.member-img {
    height: 100%;
    margin: 0px 50px;
    width: 200px;
}

.member-infos {
    display: flex;
    flex-direction: column;
}

.partners-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.partner-logo {
    height: 200px;
    width: 100%;
}

/* ===== Footer ===== */

footer {
    align-items: center;
    background-color: #fff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}

.social-media {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-evenly;
    margin: 20px;
    width: 50%;
}

.social-media-logo {
    height: 25px;
    width: 100%;
}

.copyright {
    align-items: center;
    color: #000;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    height: 50%;
    justify-content: center;
    margin: 20px;
    text-align: center;
    width: 100%;
}